Options +FollowSymLinks 

RewriteEngine On


# Rewrite for index.php,cars.php,...
RewriteRule ^(index)$ index.php?page_name=$1 
RewriteRule ^(students)$ students.php?page_name=$1 
RewriteRule ^(teachers)$ teachers.php?page_name=$1 
RewriteRule ^(editors)$ editors.php?page_name=$1 
RewriteRule ^(papers)$ papers.php?page_name=$1
RewriteRule ^(editpaper)$ editpaper.php?page_name=$1
RewriteRule ^(printpaper)$ printpaper.php?page_name=$1
RewriteRule ^(manages)$ manage.php?page_name=$1
RewriteRule ^(contact)$ contact.php?page_name=$1

# Rewrite for single variables


RewriteRule ^students-([^/]+)$ students.php?student_name=$1
RewriteRule ^teachers-([^/]+)$ teachers.php?teacher_name=$1
RewriteRule ^editors-([^/]+)$ editors.php?editor_name=$1
RewriteRule ^papers-([^/]+)$ papers.php?paper_name=$1
RewriteRule ^editpaper-([^/]+)$ editpaper.php?pid=$1
RewriteRule ^printpaper-([^/]+)$ printpaper.php?pid=$1






